.settings__setting {
  padding: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:first-child {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column2 {
  opacity: 0.7;
}

.state-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.state-img img {
  height: 200px;
  width: 300px;
}
