.badge {
  background-color: #444;
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  left: 5px;
  bottom: 15px;
}
