.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-top: -5px;
}

.screen-header__dot {
  background-color: brown;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  right: 16px;
  top: 53px;
}

@keyframes jump {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.screen-header__icons span,
.screen-header__icons .fa-child {
  animation: jump 1s ease-in-out infinite;
}
